<section {{ attributes.addClass("section-base section-color section") }} data-overlay-dark="7">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-10">
				<div class="owl-carousel owl-theme text-center">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</section>