<header {{ attributes.addClass("home-page-banner-video valign bg-img") }} data-scroll-index="0" role="banner"> 
	<div class="container-xl">
		<div class="row">
			{{ content }}
		</div>
	</div>
</header>
