@font-face {
	font-family: 'Cehua Free Free';
	font-style: normal;
	font-weight: normal;
	src: local('Cehua Free Free'), url('/themes/drupalet_arco/fonts/CehuaFreeFree-K7eMl.woff') format('woff');
  }

$main-color: #2AAFC0;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;